body{
    font-family: 'Open Sans', sans-serif;
}

/* Navbar styling */
.navbar{
    background-color: rgb(35, 49, 48);
}



.nav-item{
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    letter-spacing: -0.457692px;
    color: white !important;
    margin-right: 40px;
}

.navbar li a:hover{
    background-color: black;
    color: #ffffff !important;
    transition: ease-in 0.4s;
}

/* Hero styling */
.hero-section{
    background-color: rgb(35, 49, 48);
    color: white;
}

.hero-section h4{
    font-size: 25px;  
}

.hero-section h2{
    font-size: 50px;
    font-weight: 600;
    margin-left: -3px;
}

.hero-section h5{
    font-size: 30px;
    margin: 5px 0;
}

.hero-section .sd{
    color: turquoise;
    font-size: 35px;
}

.h-btn{
    background-color: turquoise;
    text-decoration: none;
    border: 2px solid turquoise;
    color:rgb(35, 49, 48);
    padding: 20px 32px;
    text-align: center;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    display: inline;
}

.hero-btn a:hover{
    background-color: transparent;
    color: white !important;
    transition: ease-in 0.4s;  
}

/* About styling */
.about-section{
    background: rgb(24, 37, 37);
    color: white;
}

.about-title span{
    color: turquoise
}

.a-btn{
    background-color: turquoise;
    text-decoration: none;
    border: 2px solid turquoise;
    color: rgb(24, 37, 37)!important;
    padding: 10px 30px;
    text-align: center;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    display: inline;
}

.about-btn a:hover{
    background-color: transparent;
    color: white !important;
    transition: ease-in 0.4s; 
    border:2px solid  turquoise;
}



/* Skills styling */
.skills-section{
    background-color: rgb(35, 49, 48);
    color: #ffffff;
    list-style: none;
    padding-bottom: 60px;
}

.skills-hd{
    text-align: center;
    border-bottom: turquoise;
}

.skills-section p{
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 10px ;
}

.skills-section span{
     font-weight: 500;
     font-size: 18px;
}

.skills-section .bars{
    margin-bottom: 15px;
}

.skills-section .info{
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
}

.skills-section .line{
    height: 5px;
    width: 100%;
    background: white;
}

progress .line{
    color: yellow;
    background: red;
}


/* Project section */
.project-section{
    background-color:  rgb(24, 37, 37);
}

.prj-hd{
    text-align: center;
    color: white;
}

.projectcard{
    position: relative;
}

.project-1:hover image-text,
.project-2:hover image-text, 
.project-3:hover image-text, 
.project-4:hover image-text,
.project-5:hover image-text,
.project-6:hover image-text {
    color: white;
}

.image-text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.img-txt{
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    background: rgb(35, 49, 48);
    box-shadow: 0px 14px 48px rgba(66, 149, 244, 0.18);
    border-radius: 8px;
    border: none;
    padding: 24px 50px;
    text-decoration: none;
}

.img-txt:hover{
    color: #ffffff;
}


.projectcard:hover .image-text{
    visibility: visible;
    opacity: 1;
    color: white;
}


.project-1 {
    background:  rgb(35, 49, 48);
    width: 387px; 
    height: 340px;
    place-items: center;
    display: grid;
    border-radius: 8px;
}


.project-2 {
    background:  rgb(35, 49, 48);
    width: 387px; 
    height: 340px;
     place-items: center;
    display: grid;
    border-radius: 8px;
}

.project-3{
    width: 387px; 
    height: 340px;
    background:  rgb(35, 49, 48);
    place-items: center;
    display: grid;
    border-radius: 8px;
}

.project-4 {
    width: 387px; 
    height: 340px;
    background: rgb(35, 49, 48);
    place-items: center;
    display: grid;
    border-radius: 8px;
}

.project-5 {
    width: 387px; 
    height: 340px;
    background: rgb(35, 49, 48);
    place-items: center;
    display: grid;
    border-radius: 8px;
}

.project-6 {
    width: 387px; 
    height: 340px;
    background: rgb(35, 49, 48);
    place-items: center;
    display: grid;
    border-radius: 8px;
}


.view-more a{
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
    color: #4295F4;
}

.flex-column{
  row-gap: 40px;
}

.project-group{
    gap: 70px;
} 



/* contact styling */

.contact-section{
    background-color: rgb(35, 49, 48);
    padding: 80px 0px;
}

.contact-header{
    padding-bottom: 28px;
    font-style: normal;
    font-weight:400;
    font-size: 35.16px;
    line-height: 48px;
    color: white;
}

.contact-p{
    color: white;
}

.contact-form{
    width: 465px;
    margin-left: auto;
    margin-right: auto;
}

.contact-form input{
    background: rgb(230, 235, 238);
    border-radius: 16px;
    height: 81px;
    border: none;
}

.contact-form ::placeholder{
    font-size: 16px;
    line-height: 28px;
    color: rgba(22, 33, 47, 0.4);
}

.contact-form  textarea{
    width: 465px;
    border: none;
    background: rgb(230, 235, 238);
    border-radius: 16px;
    height: 173px;
    padding: 10px;
}

.portfolio-pry{
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    background: rgb(24, 37, 37);
    border-radius: 8px;
    border: white;
    padding: 24px 50px;
}

/* footer section */

.footer-section {
    padding-top: 30px;
    padding-bottom: 5px;
    background: rgb(35, 49, 48);
}

.footer-brand a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Questrial', sans-serif;
    
}

.ft-copyright{
    color: white;
    font-size: 14px;
    line-height: 24px;  
}

.footer-icons{
    color:  white;
    font-size: 16px;
}

.footer-icons a{
    color: white;
}


/* responsive media queries */
@media (max-width: 768px){
    .hero-section{
        text-align: center;
      
    }
    .hero-img{
        align-items: center;
        justify-content: center;
        padding-left: 50px;
    }
    
    .about-section p{
        text-align: left;
    }

    .skills-section{
        display: flex;
    }

    .contact-form textarea{
        width: 265px !important;
    }

    .contact-form{
        width: 265px !important;
    }

    .footer-section {
        text-align: center;
    }
}

form #website{ display:none; }

html, body {
    height: 100%;
}

#app {
    overflow: hidden;
}


@media (max-width: 575.98px) { 
    .project-1, .project-2, .project-3, .project-4, .project-5, .project-6{
        width: 100%;
    }

    .project-3, .project-5{
        margin-top: 40px;
    }

    .nav-item{
        margin-right: unset;
    }
}